@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: var(--primary-color);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 3px #1fb5ac;
  outline: 0 none;
}
/* Reset ends */

:root {
  --font-open-sans: "Open Sans", sans-serif;
  --font-bebas-neue: "Bebas Neue", sans-serif;
}

.fas {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

/* Custom styles for the resume2_left_icons class */
.resume2_left_icons {
  color: #123456; /* Example color */
  font-size: 1.2em; /* Adjust the size as needed */
  margin-right: 10px; /* Space between icon and text */
  vertical-align: middle; /* Aligns icon with text */
}

.res_wrapper {
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  width: 990px;
  margin: 0 auto;
}
.resume2 {
  display: flex;
  height: 100%;
}

.resume2_left {
  width: 35%;
  padding-bottom: 70px;
}
.resume2_right {
  width: 65%;
  padding-bottom: 70px;
}
.resume2_left_side {
  padding-top: 30px;
  color: #f4f7ff;
}
.resume2_img_upload_wrapper {
  display: flex;
  justify-content: center;
}

.resume2_img_upload {
  background-image: url(https://images.unsplash.com/photo-1534528741775-53994a69daeb?q=80&w=1964&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 165px;
  height: 165px;
  border-radius: 50%;
  position: relative;
}
.resume2_left_content {
  padding-left: 35px;
}

.resume2_left_contact,
.resume2_left_education,
.resume2_left_skills,
.resume2_left_language {
  padding-right: 30px;
}
.resume2_left_education {
  display: flex;
  flex-direction: column;
}
.resume2_left_education span {
  position: relative;
  margin-bottom: 10px;
  height: 100%;
  display: inline-block;
  margin-left: 7px;
}

.resume2_left_contact span {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.resume2_left_contact span textarea,
.resume2_left_contact span textarea::placeholder {
  font-size: 14.67px;
  font-weight: 400;
  color: #fff;
  font-family: var(--font-open-sans);
}
.resume2_preview_contact {
  font-size: 14.67px;
  font-weight: 400;
  color: #fff;
  font-family: var(--font-open-sans);
  width: 100%;
  margin-left: 8px;
}

.resume2_edu_title,
.resume2_edu_title::placeholder {
  color: #fff;
  line-break: anywhere;
  font-family: var(--font-bebas-neue);
  font-weight: normal;
  font-size: 17.33px;
  font-weight: 400;
  line-height: 20.8px;
  text-align: left;
  margin-top: 2px;
}
.edu_name,
.edu_name::placeholder {
  font-size: 12px;
  color: #fff !important;
  font-weight: 400;
  line-break: anywhere;
}
.edu_date,
.edu_date::placeholder {
  font-size: 12px;
  color: #f6f6f6 !important;
  font-weight: 300;
  /* margin-bottom: 20px; */
  line-break: anywhere;
}
.resume2_left_skills span,
.resume2_left_language span {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 3px;
  margin-left: 7px;
}
.resume2_left_skills span textarea,
.resume2_left_language span textarea,
.resume2_skills_p {
  font-family: var(--font-bebas-neue);
  font-weight: normal;
  font-size: 19.18px;
  font-weight: 400;
  line-height: 23.02px;
  text-align: left;
}

.resume2_left_language {
  padding-left: 0;
  margin: 0;
}

.add_new {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: unset;
  outline: unset;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 14px;
  text-transform: capitalize;
  max-width: 170px;
  margin: 10px 0 0 0;
}
.add_whole_experience {
  background-color: var(--primary-color-btns);
  padding: 5px 8px;
  font-size: 12px;
  margin: 0;
}
.add_whole_experience:hover {
  color: #fff;
}

.resume2_delete_btn {
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 20px;
  position: absolute;
  right: -25px;
  top: 0px;
  margin: 0;
}
.resume2_delete_btn:hover,
.resume2_delete_btn_certification:hover {
  color: red;
}
.resume2_delete_btn_certification {
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 20px;
  position: absolute;
  left: -25px;
  top: 3px;
  margin: 0;
}

/*===================== Right Side =====================*/
.resume2_right_side {
  padding: 30px 50px 0 50px;
  color: #3d3d3d;
}
.right_side input::placeholder {
  color: #3d3d3d7d !important;
}
.empty_image {
  height: 200px;
}

.resume2_name_wrapper2 {
  display: flex;
  flex-direction: column;
  padding: 23px 0;
}
.resume2_full_name {
  font-family: var(--font-bebas-neue);
  font-weight: normal;
  font-size: 63.35px;
  font-weight: 400;
  line-height: 76.02px;
  color: var(--resume2-txt-color);
}
.resume2_profe {
  font-family: var(--font-bebas-neue);
  font-weight: normal;
  font-size: 35.4px;
  font-weight: 400;
  line-height: 42.48px;
  text-align: left;
  color: var(--resume2-txt-color);
}
.resume2_summary_p {
  font-family: var(--font-open-sans);
  font-size: 13.33px;
  font-weight: 400;
  line-height: 18.16px;
  text-align: left;
  line-break: anywhere;
}
.resume2_work_item {
  margin-bottom: 30px;
  /* border-bottom: 1px solid var(--primary-color); */
}
.resume2_work_item:last-child {
  margin-bottom: 0;
}
.resume2_section_subtitle {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 5px;
}

.dots_downloading {
  top: 5.5px !important;
  right: 2px !important;
}
.resume2_exp_title {
  width: calc(100% - 180px);
  font-family: var(--font-bebas-neue);
  font-weight: normal;
  font-size: 24px;
  font-weight: 400;
  line-height: 28.8px;
  text-align: left;
  color: var(--resume2-txt-color);
}
.resume2_data_picker {
  display: flex;
  align-items: center;
}
.resume2_data_picker_input {
  width: 220px !important;
  text-align: end;
  width: 155px;
  color: var(--resume2-txt-color);
  font-family: var(--font-bebas-neue);
  font-weight: normal;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}
.resume2_data_picker_input_preview {
  border: none !important;
  outline: none;
}
.resume2_preview_work_sub {
  color: #000;
  line-break: anywhere;
  font-family: var(--font-open-sans);
  font-size: 13.33px;
  font-weight: 400;
  line-height: 18.16px;
  display: list-item;
  margin-left: 25px;
}

.resume2_work_list {
  display: flex;
  flex-direction: column;
}
.resume2_work_list span {
  display: flex;
  margin-bottom: 2px;
  align-items: baseline;
  position: relative;
}

.resume2_work_list span svg {
  position: relative;
  top: 3px;
  margin: 0px 7px;
  min-width: 16px;
}
.resume2_work_list_delete {
  position: absolute !important;
  right: -26px;
  margin: 0 !important;
  font-size: 20px;
  cursor: pointer;
  color: #000;
  transition: all 0.3s ease;
}
.resume2_work_list_delete:hover {
  transition: all 0.3s ease;
  color: red;
}
.add_new_desc {
  width: 20px;
  margin-left: 6px;
}
.add_new_desc svg {
  font-size: 20px;
}
.add_new_desc svg:hover,
.add_new_skill svg:hover {
  transition: all 0.3s ease;
  color: var(--primary-color-btns);
}
.add_new_skill svg {
  font-size: 20px;
  position: relative;
  left: -5px;
}
.add_new_wrapper {
  width: 100%;
  display: flex;
  justify-content: right;
}
.delete_whole_experience {
  font-size: 13px;
  text-decoration: dashed;
}
.delete_whole_experience:hover {
  color: red;
}
.references span {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-bottom: 10px;
  font-family: var(--font-bebas-neue);
  font-weight: normal;
}
.reference_title {
  font-size: 24px;
  font-weight: 800;
  width: 100%;
  width: 360px;
  margin-bottom: 5px;
}
.reference_name {
  font-size: 16px;
  font-weight: 400;
  width: 100%;
  margin-bottom: 10px;
  width: 360px;
}
.reference_date {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: right;
  max-width: 130px;
  line-break: anywhere;
}
.references span div {
  display: flex;
  flex-direction: column;
}
.references span b {
  margin-right: 10px;
  font-size: 13px;
  font-weight: 800;
}
.references span p {
  font-size: 13px;
}

.resume2_hr {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-right: 5px;
  align-items: baseline;
}

/*===================== Globals =====================*/
.resume2_left_inputs {
  width: 100%;
  margin-left: 8px;
}
.resume2_left_inputs_generic {
  width: 100%;
}
.resume2_left_icons {
  color: #f4f7ff;
  min-width: 16px;
  font-size: 16px;
}

.resume2_clean_input {
  outline: var(--primary-color);
  border: none;
  background-color: transparent;
  padding-left: 0 !important;
  /* color: #f4f7ff; */
}
.resume2 input::placeholder {
  color: #f4f7ff;
}
.area2 {
  width: 100%;
}

/* Section */
.section_header {
  font-weight: 600;
  color: #043770;
  text-transform: uppercase;
  margin-bottom: 15px;
  margin-top: 20px;
}
.section_header h2 {
  font-size: 35px;
  margin: 0;
  margin-bottom: 8.8px;
  font-family: var(--font-bebas-neue);
  font-weight: normal;
  line-height: 42.48px;
}
.section_header hr {
  display: flex;
  width: 100%;
  height: 2px;
  background: orange;
  border: unset !important;
  margin: 0;
  opacity: 1;
}
