<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your Name - Resume</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="Resume_1">
    <div class="Res1_header">
      <div class="Res1_user_img_wrapper" id="user-img-wrapper">
        <img class="Res1_user_img" id="user-img" src="" alt="img" />
      </div>
      <div class="Res1_header_right">
        <p class="Res1_full_name" id="full-name"></p>
        <div class="Res1_header_content">
          <span>
            <h3>Address:</h3>
            <p class="Res1_preview_personal" id="address"></p>
          </span>
          <span>
            <h3>designer</h3>
            <p class="Res1_preview_personal" id="phone"></p>
          </span>
          <span>
            <h3>Email:</h3>
            <p class="Res1_preview_personal" id="email"></p>
          </span>
          <span>
            <h3>LinkedIn:</h3>
            <a href="" target="_blank" class="Res1_preview_personal" id="website"></a>
          </span>
        </div>
      </div>
    </div>
    <div id="summary-section"></div>
    <div id="work-experience-section"></div>
    <div id="education-section"></div>
    <div id="additional-info-section"></div>
  </div>
  <script src="script.js"></script>
</body>
</html>
